<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <button mat-raised-button class="switchButton" [ngClass]="{'selected': itemsSelected}" (click)="changeRoute('')">Items
            <mat-icon>fastfood</mat-icon>
        </button>
        <button mat-raised-button class="switchButton" [ngClass]="{'selected': placesSelected}" (click)="changeRoute('places')">Places
            <mat-icon>place</mat-icon>
        </button>
        <button mat-raised-button class="switchButton" [ngClass]="{'selected': cartSelected}" (click)="changeRoute('cart')">Cart
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <!--<img src="assets/logo.png" width="300px" height="60px" position="absolute" float="right">-->
    </mat-toolbar-row>
</mat-toolbar>