.toolbar {
    background-color: #dff0d8;
}

.selected {
    background-color: #b9e4a9;
}

.switchButton {
    width: 150px;
    margin: 3px; 
}

.title {
    font-size: xx-large;
    width: 50%;
    text-align: center;
}

.codeInput {
    float: right;
    top: -2px;
    right: 5px
}