.demo-table {
    width: 100%;
  }

th {
    font-weight: bold;
    font-size: 15px;
}

td {
    cursor: pointer;
}

.itemInput {
    width: 100%;
}

.container-all {
    width: 100%;
}

.container-left {
    width: calc(50% - 8px);
    margin: 4px;
    float: left;
}

.container-right {
    width: calc(50% - 8px);
    margin: 4px;
    float: right;
}

.bottomButtonLeft {
    background-color: #dff0d8;
    width: calc(50% - 8px);
    float: left;
}

.bottomButtonRight {
    background-color: #dff0d8;
    width: calc(50% - 8px);
    float: right; 
}

.inputFields {
    display: flow-root;
}

.selected {
    background-color: #dff0d8;
}

.deletePlaceBtn {
    width: 100px;
}

.mat-column-deletePlaceBtn {
    text-align: center;
}